[user]
	name = Michael Heath
	email = heathcakez@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[github]
  user = heathcakes
  password = 13+m31n
