[user]
  name = Michael Heath
  email = michael.heath@lonelyplanet.com.au
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
[github]
  user = Cakez
